#! Python3.11
numpy
opencv-python
Pillow
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.13.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.28.0+cpu
ultralytics
yolov5==6.2.3
CodeProject-AI-SDK
